body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #3e7689;
    color: white;
    padding: 5px;
}

h2 {
    color: #e649cb;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #3e7689;
    color: white;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
